<div>
  <div nz-card-grid [ngStyle]="gridstyle">Goal</div>
  <div nz-row>
    <div nz-col nzFlex="2">
      <nz-card nzType="inner" style="margin-top: 16px;" nzTitle="Post New Goal">
        <form nz-form [formGroup]="goalForm" class="custom-for" (ngSubmit)="submitForm()">

          <nz-form-item>
            <nz-form-control>
              <textarea nz-input placeholder="Enter Description" formControlName="description"
                [nzAutosize]="{minRows:2, maxRows:6 }" id=""></textarea>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="Please input the start date">
              <nz-date-picker style="width: 100%;" formControlName="startDate"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="Please input the end date">
              <nz-date-picker style="width: 100%;" formControlName="endDate"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>

          <button nz-button nzType="primary" nzBlock class="w-100" [disabled]="goalForm.invalid">Post Goal</button>


        </form>

      </nz-card>
    </div>
    <div nz-col nzFlex="3" style="margin-left: 20px;">
      <nz-card nzType="inner" style="margin-top: 16px;" nzTitle="Past Goals">
        <div nz-card-grid style="width: 100%;" *ngFor="let goal of goals">
          <div nz-col nzSpan="30">
            Description: <strong>{{goal.description}}</strong>
            -
            StartDate: <strong>{{goal.startDate | date}}</strong>
            -
            EndDate: <strong>{{goal.endDate|date}}</strong>
            -
            Achieved: <strong>{{goal.achieved}}</strong>

            <span *ngIf="!goal.achieved" nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#52c41a'" style="margin-left: 15px ;"></span>


          </div>
        </div>
      </nz-card>
    </div>
  </div>
</div>
