<div *ngIf="statsData" class="stats-container">
  <div nz-row [nzGutter]="16">
    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="8">
      <nz-card nzTitle="Total Calories Burned" class="stat-card">
        <p>{{statsData.totalCaloriesBurned}} cal</p>
      </nz-card>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="8">
      <nz-card nzTitle="Total Steps Taken" class="stat-card">
        <p>{{statsData.steps}}</p>
      </nz-card>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="8">
      <nz-card nzTitle="Total Distance" class="stat-card">
        <p>{{statsData.distance}} km</p>
      </nz-card>
    </div>
  </div>

  <div nz-row style="margin-top: 20px;" [nzGutter]="16">
    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="8">
      <nz-card nzTitle="Total Time Spent" class="stat-card">
        <p>{{statsData.duration}} min</p>
      </nz-card>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="8">
      <nz-card nzTitle="Achieved Goals" class="stat-card">
        <p>{{statsData.achievedGoals}}</p>
      </nz-card>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="8">
      <nz-card nzTitle="Not Achieved Goals" class="stat-card">
        <p>{{statsData.notAchievedGoals}}</p>
      </nz-card>
    </div>
  </div>
</div>

<div nz-row style="margin-top: 30px;" [nzGutter]="16">
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12">
    <nz-card nzTitle="Recent Workouts" class="stat-card">
      <canvas #workoutLineChart></canvas>
    </nz-card>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12">
    <nz-card nzTitle="Recent Activities" class="stat-card">
      <canvas #activityLineChart></canvas>
    </nz-card>
  </div>
</div>
